* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-container {
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 300px));
    grid-template-rows: repeat(3, minmax(100px, auto));
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    /* align-items: center;
    justify-items: center; */
    /* justify-content: space-around;
    align-content: space-around; */
    place-content: space-around space-around;
    place-items: center center;

    /* place-items: justify-items + align-items; */
    /* place-content: justify-content + align-content; */
}

#first {
    /* align-self: center;
    justify-self: end; */
    place-self: center end;

    /* place-self: justify-self + align-self; */
}

.grid-elem {
    background-color: rgba(1, 1, 96, 1);
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #000;
    border-radius: 4px;
}